@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --idbi-green: #00594C;
  --idbi-orange: #EE6C2D;
}

body {
  font-family: 'Inter', 'Noto Sans Devanagari', 'Noto Sans Tamil', sans-serif;
}
