@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --idbi-green: #00836C;
  --idbi-orange: #F37021;
}

body {
  font-family: 'Montserrat', 'Noto Sans Devanagari', 'Noto Sans Tamil', sans-serif;
}
